* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
.slider-container {
    width: 600px;
    height: 310px;
    margin: 10px auto;
    position: relative;
}
.slider-container .slider-number {
    position: absolute;
    background-color: #e74c3c;
    color: #FFF;
    left: 10px;
    top: 10px;
    padding: 4px 8px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    z-index: 2;
}
.slider-container img {
    position: absolute;
    opacity: 0;
    transition: opacity 5s;
}
.slider-container img.active {
    opacity: 1;
}
.slider-controls {
    width: 600px;
    margin: auto;
    overflow: hidden;
}
.slider-controls .prev,
.slider-controls .next {
    background-color: #009688;
    color: #FFF;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px;
    width: 20%;
    user-select: none;
}
.slider-controls .prev {
    float: left;
}
.slider-controls .next {
    float: right;
}
.slider-controls .prev.disabled,
.slider-controls .next.disabled {
    background-color: rgba(0, 150, 136, 0.5);
    cursor: no-drop;
}
.slider-controls .indicators {
    width: 60%;
    float: left;
}
.slider-controls .indicators ul {
    list-style: none;
    text-align: center;
    margin: 0;
}
.slider-controls .indicators ul li {
    display: inline-block;
    background-color: #F6F6F6;
    color: #333;
    font-weight: bold;
    height: 28px;
    width: 28px;
    border-radius: 4px;
    margin: 0 2px;
    line-height: 28px;
    cursor: pointer;
}
.slider-controls .indicators ul li.active {
    background-color: #009688;
    color: #FFF;
}

























